<%= render 'spots/header' %>


<div class="spots">
	<% @spots.each do |spot| %>
		<h1><%= spot.season %></h1>
		<%= spot.spot_name %>
		<% if spot.images.attached? %>
			<% spot.images.each do |image| %>
          		<%= image_tag image %>
          	<% end %>
        <% end %>
	<% end %>
</div>
あああ
<% if @spot.images.attached? %>
 <%= image_tag @spot.images %>
<% end %>