

<div class ="season-container">
	<div class="season_top">
	</div>
	<div class="season_bottom">
	<!-- メインビジュアルの下。季節のスポットたち -->
		<div class="region_title">
			<h2>検索はこちらから</h2>
			<%= image_tag "/images/line1.png",class: "line" %>
		</div>
		<div class="region">
			<div class="search">
				<div class="search_discription">
				<p>こちらから検索が出来ます。<br>
				右側の地図内のボタンを押せば、地域ごとの検索が可能です。
				スポット名で検索する場合は以下の検索フォームに入力してください。</p>
				</div>
				<%= search_form_for @search, url: seasons_spring_path do |f| %>
					<div class="form-group">
						<%= f.text_field :spot_name_cont,:size=>"40" %>
						<%=f.submit "検索する",class: "btn btn-success" %>
					</div>
				<% end %>
			</div>
			<div class="kantou">
				<%= image_tag "/images/kantou2.jpg", :size=> "450x400",class: "map" %>
				<!-- 検索 -->
				<%= search_form_for @search, url: seasons_spring_path do |f| %>
					<div class="form-group">
						<%= f.hidden_field :prefecture_eq, :value => 1 %>
						<%=f.submit "東京", class: "btn btn-default btn-sm tokyo" %>
					</div>
				<% end %>
				<%= search_form_for @search, url: seasons_spring_path do |f| %>
					<div class="form-group">
						<%= f.hidden_field :prefecture_eq, :value => 2 %>
						<%=f.submit "神奈川", class: "btn btn-default btn-sm kanagawa" %>
					</div>
				<% end %>
				<%= search_form_for @search, url: seasons_spring_path do |f| %>
					<div class="form-group">
						<%= f.hidden_field :prefecture_eq, :value => 3 %>
						<%=f.submit "埼玉", class: "btn btn-default btn-sm saitama" %>
					</div>
				<% end %>
				<%= search_form_for @search, url: seasons_spring_path do |f| %>
					<div class="form-group">
						<%= f.hidden_field :prefecture_eq, :value => 4 %>
						<%=f.submit "千葉", class: "btn btn-default btn-sm chiba btn1" %>
					</div>
				<% end %>
				<%= search_form_for @search, url: seasons_spring_path do |f| %>
					<div class="form-group">
						<%= f.hidden_field :prefecture_eq, :value => 5 %>
						<%=f.submit "群馬", class: "btn btn-default btn-sm gunma" %>
					</div>
				<% end %>
				<%= search_form_for @search, url: seasons_spring_path do |f| %>
					<div class="form-group">
						<%= f.hidden_field :prefecture_eq, :value => 6 %>
						<%=f.submit "栃木", class: "btn btn-default btn-sm tochigi" %>
					</div>
				<% end %>
				<%= search_form_for @search, url: seasons_spring_path do |f| %>
					<div class="form-group">
						<%= f.hidden_field :prefecture_eq, :value => 7 %>
						<%=f.submit "茨城", class: "btn btn-default btn-sm ibaraki" %>
					</div>
				<% end %>
			</div>
	</div>
	<div class="spot_index">
		<% @spots.each do |spot| %>
			<div class="spot_item">
				<div class="spot_top">
		        	<%=link_to image_tag(spot.images.url,class: "spot_top_image"),spot_path(spot.id)%>
				</div>
				<div class="spot_bottom">
					<%= spot.spot_name %>
				</div>
			</div>
		<% end %>
	</div>
	</div>
</div>
