
<button type="button" data-toggle="modal" data-backdrop="true" data-target="#modal-option" class="btn btn-default btn-sm user_edit">編集</button>

<div class="modal fade" id="modal-option" tabindex="-1" role="dialog" aria-labelledby="myModalOptionLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalOptionLabel">スポット編集</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      		<%= form_for (spot) do |f| %>
		<div class="form-group">
			<%= f.label :spot_name, "スポット名", class:"label-bold" %><br>
			<%= f.text_field :spot_name,autocomplete: "spot_name" ,class:"form-ucr"%><br>
		</div>
		<div class="season_prefecture">
			<div class="form_season form-group">
				<%= f.label :season, "季節", class:"label-bold" %><br>
			    <%= f.select :season, Spot.seasons.keys, { prompt: '選択してください' } %>
			</div>
			<div class="form-group">
				<%= f.label :prefecture, "地域", class:"label-bold" %><br>
				<%= f.select :prefecture, Spot.prefectures.keys, { prompt: '選択してください' } %>
			</div>
		</div>
			<div class="form_address form-group">
				<%= f.label :spot_address, "場所", class:"label-bold" %><br>
				<%= f.text_field :spot_address ,class:"form-control form-ucr"%>
			</div>
		<div class="form-group">
			<%= f.label :description, "内容", class:"label-bold" %><br>
			<%= f.text_area :description ,class:"form-control form-ucr" %>
		</div>
		<div class="form-group">
			<%= f.label :images, "画像", class:"label-bold" %><br>
			<%= f.file_field :images, multipart: true %>
		</div>
		<div class="form-group">
			<%= f.submit '保存' ,class: "form-control btn btn-primary"%>
		</div>

	<% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>