<%= form_with(model: spot, local: true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :spot_image_id %>
    <%= form.text_area :spot_image_id %>
  </div>

  <div class="field">
    <%= form.label :spot_name %>
    <%= form.text_field :spot_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.number_field :season %>
  </div>

  <div class="field">
    <%= form.label :prefecture %>
    <%= form.number_field :prefecture %>
  </div>

  <div class="field">
    <%= form.label :spot_address %>
    <%= form.text_area :spot_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
