<div class="admin_spot_table">
	<div class="admin_spot_item_title">
		<div class="spot_image_btn">スポット
		</div>
		<div class="spot_season">季節
		</div>
		<div class="spot_prefecture_address">スポット名/場所
		</div>
		<div class="spot_description">説明
		</div>
		<div class="spot_average_star">評価
	  	</div>
	</div>

	<div class="admin_spots">
		<% @spots.each do |spot| %>
			<div class="admin_spot_item">
				<div class="spot_image_btn">
					<div>
			        	<%= image_tag spot.images.url, class: "admin_spot_image"%>
					</div>
					<div class="edit_destroy">
						<%= render 'spots/edit', spot: spot %>
						<%=link_to "削除", spot_path(spot.id),method: :delete,class: "btn btn-default btn-sm" %>
					</div>
				</div>
				<div class="spot_season center_item">
					<%= spot.season %>
				</div>
				<div class="spot_prefecture_address">
					<div class="spot_prefecture">
						<%= spot.spot_name %>
					</div>
					<div class="spot_spot_address">
						<%= spot.spot_address %>
					</div>
				</div>
				<div class="spot_description">
					<%= spot.description %>
				</div>
				<div class="spot_average_star center_item">
		            <% if spot.average_star.present? %>
		              <%= spot.average_star.round(1) %> / 5.0
		            <% end %>
	          	</div>
			</div>
		<% end %>
	</div>
</div>