<div class="new_spot">
	<h2>スポットの追加</h2>
	<%= form_with model:@spot, local: true do |f| %>
		<!-- エラー文 -->
		<% if @spot.errors.any? %>
	        <div class="errors">
	        	<h5><%= @spot.errors.count %>件のエラーが発生しました。</h5>
		        <% @spot.errors.full_messages.each do |message| %>
		            <p><%= message %></p>
		        <% end %>
		    </div>
    	<% end %>
    	<!-- ここまでエラー文 -->
		<div class="form-group">
			<%= f.label :spot_name, "スポット名", class:"label-bold" %><br>
			<%= f.text_field :spot_name ,class:"form-control form-ucr"%><br>
		</div>
		<div class="season_prefecture">
			<div class="form_season form-group">
				<%= f.label :season, "季節", class:"label-bold" %><br>
			    <%= f.select :season, Spot.seasons.keys, { prompt: '選択してください' } %>
			</div>
			<div class="form-group">
				<%= f.label :prefecture, "地域", class:"label-bold" %><br>
				<%= f.select :prefecture, Spot.prefectures.keys, { prompt: '選択してください' } %>
			</div>
		</div>
		<div class="form_address form-group">
			<%= f.label :spot_address, "場所", class:"label-bold" %><br>
			<%= f.text_field :spot_address ,class:"form-control form-ucr"%>
		</div>
		<div class="form-group">
			<%= f.label :description, "内容", class:"label-bold" %><br>
			<%= f.text_area :description ,class:"form-control form-ucr" %>
		</div>
		<div class="form-group">
			<%= f.label :images, "画像", class:"label-bold" %><br>
			<%= f.file_field :images, multipart: true %>
		</div>
		<div class="form-group">
			<%= f.submit '新規追加' ,class: "form-control btn btn-primary"%>
		</div>
	<% end %>
</div>


