<%= render 'spots/header' %>
<div class="show">
    <div class="show_top">
        <div class="show_top_left">
          <%= image_tag @spot.images.url, class: "spot_image"%>
        </div>
      <div class="show_top_right">
        <h3><%= @spot.spot_name %></h3>
      </div>
    </div>

    <div class="show_bottom">
      <div class="show_bottom_left">
        <div class="review">
          <h3 class="show_title">レビュー一覧</h3>
          <div class="score">
            <% if @spot.average_star.present? %>
              　<h4>このスポットの評価：<%= @spot.average_star.round(1) %> / 5.0</h4>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="new_comments">
              <button type="button" data-toggle="modal" data-backdrop="true" data-target="#modal-option" class="btn btn-default">レビューを投稿する</button>
            </div>
          <% end %>
        </div>
          <%= render 'spots/new_comment' %>
        <!-- コメント一覧表示 -->
        <div class="comment_list">
          <% @comments.each do |comment| %>
            <div class="comment_content">
              <%= image_tag comment.comment_image.url, class: "comment_image"%>
              <!-- 評価された星を表示する記述 -->
              <div class="rated" data-score="<%= comment.star %>"></div>
              <div class="comment_comment">
                <%= comment.comment %><br>
              </div>
              <div class="spot_comment_username">
                <div><%=link_to comment.user.nickname,user_path(comment.user.id) %></div>
                <div><%= comment.created_at.strftime("%Y-%m-%d") %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

        <div class="show_bottom_right">
          <div class="spot_recommend">
            <h3 class="show_title">見どころ</h3>
            <div class="show_spot_description">
               <%= @spot.description %>
            </div>
            <div class="map_btn">
               <%= render 'spots/googlemap' %>
            </div>
          </div>
          <% if user_signed_in? %>
            <div class="post_favorite">
              <h3 class="show_title">気に入ったら</h3>
              <div class="show_spot_description">
                このスポットを気に入ったら、"お気に入り"に登録しましょう。<br>
                お気に入りに登録して頂くと、マイページのお気に入り一覧から<br>登録したスポットを確認することが出来ます。
              </div>
              <div class="favorite-btn">
                <% if @spot.favorited_by?(current_user) %>
                  <%= link_to "お気に入りから外す",spot_favorites_path(@spot),method: :delete,class: "btn btn-default" %>
                <% else %>
                  <%=link_to "お気に入りに追加する",spot_favorites_path(@spot),method: :post,class: "btn btn-default" %>
                <% end %>
              </div>
             </div>
           <% end %>
        </div>
    </div>
</div>

<!-- 評価された星を表示する記述 -->
<script>
  $('.rated').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
