<%= render 'spots/header' %>
<div class="show">
    <div class="show_top">
        <div class="show_top_left">
          <%= image_tag @spot.images.url, class: "spot_image"%>
        </div>
      <div class="show_top_right">
        <h3><%= @spot.spot_name %></h3>
      </div>
    </div>

    <div class="show_bottom">
      <div class="show_bottom_left">
        <div class="review">
          <h3 class="show_title">レビュー一覧</h3>
          <div class="rated rated1" data-score="<%= @spot.average_star %>"></div>
          <div class="score">
            <% if @spot.average_star.present? %>
              　<%= @spot.average_star.round(1) %> / 5.0
            <% end %>
          </div>
          <div class="new_comment">
            <%= render 'spots/new_comment' %>
          </div>
        </div>
        <!-- コメント一覧表示 -->
        <div class="comment_list">
          <% @comments.each do |comment| %>
            <div class="comment_content">
              <%= image_tag comment.comment_image.url, class: "comment_image"%>
              <!-- 評価された星を表示する記述 -->
              <div class="rated" data-score="<%= comment.star %>"></div>
              <%= comment.comment %><br>
              <div class="comment_username">
                <%= comment.user.nickname %>
                <%= comment.created_at.strftime("%Y-%m-%d") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

        <div class="show_bottom_right">
          <h3 class="show_title">見どころ</h3>
          <div class="show_spot_description">
             <%= @spot.description %>
          </div>
          <div class="map_btn">
             <%= render 'spots/googlemap' %>
          </div>
        </div>
    </div>
</div>

<!-- 評価された星を表示する記述 -->
<script>
  $('.rated').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
