<div class="comment_content shop">
  <div class="comment_spot">
    <p><%= comment.spot.spot_name %></p>
  </div>
  <%= image_tag comment.comment_image.url, class: "comment_image"%>
  <div class="rated" data-score="<%= comment.star %>"></div>
  <div class="comment_comment">
    <%= comment.comment %><br>
  </div>
  <div class="comment_username">
    <div><%=link_to comment.user.nickname,user_path(comment.user.id) %></div>
    <div><%= comment.created_at.strftime("%Y-%m-%d") %></div>
  </div>
</div>
<!-- 評価された星を表示する記述 -->
<script>
  $('.rated').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>