<button type="button" data-toggle="modal" data-backdrop="true" data-target="#modal-option" class="btn btn-default user_edit">ユーザー情報を編集する</button>

<div class="modal fade" id="modal-option" tabindex="-1" role="dialog" aria-labelledby="myModalOptionLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalOptionLabel">ユーザー編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= form_for(@user) do |f|%>
          <div>
            <%= f.label :lastname %><br/>
            <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
          </div>

          <div>
            <%= f.label :firstname %><br/>
            <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %>
          </div>

          <div>
            <%= f.label :lastname_kana %><br/>
            <%= f.text_field :lastname_kana, autofocus: true, autocomplete: "lastname_kana" %>
          </div>

          <div>
            <%= f.label :firstname_kana %><br/>
            <%= f.text_field :firstname_kana, autofocus: true, autocomplete: "firstname_kana" %>
          </div>

          <div>
            <%= f.label :nickname %><br/>
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
          </div>

          <div>
            <%= f.label :postal %><br/>
            <%= f.text_field :postal, autofocus: true, autocomplete: "postal" %>
          </div>

          <div>
            <%= f.label :address %><br/>
            <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
          </div>

          <div>
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div>
            <%= f.label :introduction %><br/>
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
          </div>

          <div>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="user_image">
            <%= f.label :user_image, "ユーザー画像", class:"label-bold" %><br />
            <%= f.file_field :user_image, multipart: true %>
          </div>
          <%= f.submit%>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>