<%= render 'spots/header' %>

<div class="mypage_container ">
    <% flash.each do |message_type, message| %>
  　<div class="alert alert-<%= message_type %>"><%= message %>　</div>
    <% end %>
    <div class="mypage_left">
        <%= render 'spots/new' %>
    </div>
    <div class="mypage_right">
        <!-- タブ・メニュー -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#sampleContentC" data-toggle="tab">スポット一覧</a></li>
            <li><a href="#sampleContentD" data-toggle="tab">ユーザー一覧</a></li>
        </ul>

        <!-- タブ内容 -->
        <div class="tab-content">
            <div class="tab-pane active" id="sampleContentC">
                <%= render 'spots/index' %>
            </div>
            <div class="tab-pane" id="sampleContentD">
                <%= render 'users/index' %>
            </div>
        </div>
    </div>
</div>