<%= render 'spots/header' %>
<div class="mypage_container ">
    <div class="mypage_left">
        <!-- エラー文 -->
        <% if @user.errors.any? %>
            <div class="errors">
                <h5><%= @user.errors.count %>件のエラーが発生しました。</h5>
                <% @user.errors.full_messages.each do |message| %>
                    <p><%= message %></p>
                <% end %>
            </div>
        <% end %>
        <!-- ここまでエラー文 -->
        <div class="user_profile">
            <%= image_tag @user.user_image.url,class: "profile_image"%>
            <%= @user.nickname %>
            <div class="follow_edit">
                <% if current_user != @user %>
                    <% if @user.followed_by?(current_user) %>
                        <p><%=link_to "フォローを解除する", user_relations_path(@user.id), method: :delete,class: "btn btn-default" %></p>
                    <% else %>
                        <p><%=link_to "このユーザーをフォローする", user_relations_path(@user.id), method: :post ,class: "btn btn-default"%></p>
                    <% end %>
                <% else %>
                    <button type="button" data-toggle="modal" data-backdrop="true" data-target="#modal<%= @user.id %>-option" class="btn btn-default user_edit">ユーザー情報を編集する</button>
                    <%= render 'users/user_edit',user: @user %>
                <% end %>
            </div>
        </div>
        <div class="mypage_discription">
            <div class="discription_title"><h4>マイページについて</h4></div>
            <div class="discription_subtitle">お気に入り</div>
            <div class="discription_content">今までに登録した<br>お気に入りした一覧が見れます。</div>
            <div class="discription_subtitle">投稿履歴</div>
            <div class="discription_content">コメントを投稿した<br>履歴の一覧が見れます。</div>
            <div class="discription_subtitle">フォロー</div>
            <div class="discription_content">あなたがフォローしている<br>ユーザーの一覧が見れます。</div>
            <div class="discription_subtitle">フォロワー</div>
            <div class="discription_content">あなたがフォローされている<br>ユーザーの一覧が見れます。</div>
        </div>
    </div>
    <div class="mypage_right">
        <!-- タブ・メニュー -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#sampleContentB" data-toggle="tab">投稿履歴</a></li>
            <li><a href="#sampleContentC" data-toggle="tab">フォロー(<%= @user_followings.count %>)</a></li>
            <li><a href="#sampleContentD" data-toggle="tab">フォロワー(<%= @user_followers.count %>)</a></li>
            <% if @user == current_user %>

                <li><a href="#sampleContentA" data-toggle="tab">お気に入り</a></li>
            <% end %>
        </ul>

        <!-- タブ内容 -->
        <div class="tab-content">
            <div class="tab-pane active" id="sampleContentB">
                <%= render 'users/user_comments' %>
            </div>
            <div class="tab-pane" id="sampleContentC">
                <div class="following">
                    <%= render 'users/follows' %>
                </div>
            </div>
            <div class="tab-pane" id="sampleContentD">
                <div class="following">
                    <%= render 'users/followers' %>
                </div>
            </div>
            <% if @user == current_user %>
            <div class="tab-pane" id="sampleContentA">
                <%= render 'users/user_favorite' %>
            </div>
            <% end %>
        </div>
    </div>
</div>

